<h1><a href="<%= post_url(@post) %>"><%= @post.title %></a> by <%= @post.author.username %></h1>

<div>
  <pre><%= @post.content %></pre>
</div>

<h2>Subs</h2>
<ul>
  <% @post.subs.each do |subb| %>
    <li><a href="<%= sub_url(subb) %>"><%= subb.title %></a></li>
  <% end %>
</ul>

<h2>Comments</h2>

<a href="<%= new_post_comment_url(@post) %>"></a>

<ul>
  <% @post.comments.where(parent_comment_id: nil).each do |comment| %>
    <li>
      <a href="<%= comment_url(comment) %>">
      <%= comment.content %>
    </a>
  </li>
  <% end %>
</ul>


<a href="<%= edit_post_url(@post) %>">Edit Post!</a>
<br>
<%= link_to "Delete Post!", post_url(@post), method: :delete %>
